<?xml version="1.0" encoding="UTF-8" ?>
<odoo>
   <menuitem id="menu_transport_root"
              name="Education Transport"
              sequence="10"/>
<!--    driver and vehicle-->

    <menuitem id="menu_transport_vehicle"
              name="Vehicle"
              parent="menu_transport_root"
              sequence="10"/>

   <menuitem id="menu_transport_fleet_vehicle"
              name="Vehicles"
              parent="menu_transport_vehicle"
              action="action_fleet_vehicle"/>
    <menuitem id="menu_transport_driver"
              name="Driver"
              parent="menu_transport_vehicle"
              action="action_driver_list"/>

<!--route & stop-->
   <menuitem id="menu_transport_vehicle_route"
              name="Vehicle Route"
              parent="menu_transport_root"
              sequence="20"/>
    <menuitem id="menu_transport_route"
              name="Routes"
              parent="menu_transport_vehicle_route"
              action="action_education_transport_route"/>
    <menuitem id="menu_transport_stop"
              name="Stops"
              parent="menu_transport_vehicle_route"
              action="action_education_transport_stop"/>


   <menuitem id="menu_education_transport_assignment"
              name="Assignments"
              parent="menu_transport_root"
              action="action_education_transport_assignment" sequence="30"/>

   <menuitem id="menu_transport_delay_vehicle"
              name="Delay"
              parent="menu_transport_root"
              action="action_transport_delay_wizard" sequence="50"/>

<!--    student and vehicle -->
   <menuitem id="menu_transport_report"
              name="Report"
              parent="menu_transport_root"
              sequence="50"/>
   <menuitem id="menu_transport_report_wizard"
              name="Student Info"
              parent="menu_transport_report"
              action="action_transport_report_wizard"/>
   <menuitem id="menu_transport_vehicle_wizard"
              name="Vehicle Info"
              parent="menu_transport_report"
              action="action_transport_vehicle_wizard"/>




</odoo>