<?xml version="1.0" encoding="UTF-8" ?>
<odoo>
   <menuitem id="menu_transport_root"
              name="Education Transport"
              sequence="10"/>
   <menuitem id="menu_transport_vehicle"
              name="Vehicles"
              parent="menu_transport_root"
              action="action_education_transport_vehicle"
             sequence="10"/>

   <menuitem id="menu_transport_fleet_vehicle"
              name="Fleet Vehicles"
              parent="menu_transport_root"
              action="action_fleet_vehicle"/>


   <menuitem id="menu_transport_route"
              name="Routes"
              parent="menu_transport_root"
              action="action_education_transport_route"/>
   <menuitem id="menu_education_transport_assignment"
              name="Assignments"
              parent="menu_transport_root"
              action="action_education_transport_assignment"/>
     <menuitem id="menu_transport_stop"
              name="Stops"
              parent="menu_transport_root"
              action="action_education_transport_stop"/>
     <menuitem id="menu_transport_driver"
              name="Driver"
              parent="menu_transport_root"
              action="action_driver_list"/>
     <menuitem id="menu_transport_delay_vehicle"
              name="Delay"
              parent="menu_transport_root"
              action="action_transport_delay_wizard"/>




</odoo>