<?xml version="1.0" encoding="UTF-8" ?>
<odoo>
     <menuitem id="menu_education_finance"
              name="Financial Management"/>

    <menuitem id="menu_education_fee_plan"
              name="Fee Plan"
              parent="menu_education_finance"
              action="action_edu_fee_plan"/>

    <menuitem id="menu_edu_fee_installment"
              name="Fee Installments"
              parent="menu_education_finance"
              action="action_edu_fee_installment"/>

    <menuitem id="menu_education_fee_invoice"
              name="Fee Invoices"
              parent="menu_education_finance"
              action="action_education_fee_invoice"/>

    <menuitem id="menu_education_fee_penalty"
              name="Fee Penalty Rules"
              parent="menu_education_finance"
              action="action_education_fee_penalty_rule"/>

<!--    <menuitem id="menu_followup_levels_education"-->
<!--              name="Follow-up Levels"-->
<!--              parent="menu_education_finance"-->
<!--              action="action_account_followup_line_education"/>-->
</odoo>

