<?xml version="1.0" encoding="UTF-8" ?>
<odoo>
     <menuitem id="menu_education_attendances_root"
              name="Education Attendance"
              sequence="10"/>
<!--    student-->
    <menuitem id="menu_education_attendance"
              name="Student"
              parent="menu_education_attendances_root"
              action="action_school_student"
              sequence="20"/>

<!--    timetable-->
    <menuitem id="menu_student_timetable"
              name="Attendance"
              parent="menu_education_attendances_root"
              sequence="20"/>
    <menuitem id="menu_education_attendances"
              name="Attendance"
              parent="menu_student_timetable"
              action="action_education_attendance"
              sequence="20"/>
    <menuitem id="menu_education_attendance_line"
              name="Attendance Lines"
              parent="menu_student_timetable"
              action="action_education_attendance_line"
              sequence="20"/>
     <menuitem id="menu_attendance_summary"
              name="Attendance Summary"
              parent="menu_student_timetable"
              action="action_attendance_summary"
              sequence="20"/>

<!--    leave-->
    <menuitem id="menu_education_leave"
              name="Leave Request"
              parent="menu_education_attendances_root"
              action="action_education_leave_request"
              sequence="20"/>
<!--    settings-->
     <menuitem id="menu_edu_attendance_settings"
              name="Settings"
              parent="menu_education_attendances_root"
              action="action_edu_attendance_settings"
              sequence="99"/>
</odoo>

