<?xml version="1.0" encoding="UTF-8" ?>
<odoo>
   <menuitem id="menu_document_management_root"
              name="Document And Record"/>

    <menuitem id="menu_education_documents"
            name="Documents" parent="menu_document_management_root"
            action="action_education_document_extended"/>
    <menuitem id="menu_education_type_documents"
            name="Documents Type" parent="menu_document_management_root"
            action="action_education_document_type_extended"/>

    <menuitem id="menu_education_report"
            name="Report" parent="menu_document_management_root"
            action="action_missing_document_report_wizard"/>

</odoo>